/*
Colors used: 
Primary Color (Baby-Blue): #89cff0; (137,207,240); 
Secondary Color (Light Blue): #7bbad8; (123,186,216);
Tertiary Color (Medium Blue): #6da5c0; (109,165,192);
Quartiary Color (Dark Blue): #5f90a8; (95,144,168);
On-Primary (Background): #f3fafd; (243,250,253);
Background: #ffffff; (255,255,255);
On-Primary (Outlines): #293e48; (41,62,72);
Analogue Color (Purple-Blue): #899cf0; (137,156,240);
Analogue Color2 (Turqoise): #89f0de; (137,240,222);
*/

* {
    box-sizing: border-box;
  }

/* Header */

header{
    background-color: #f3fafd;
    padding-top: 10px;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 10px;
    position: relative;
    width: 100%;
	box-shadow: 0 5px 20px rgba(137, 208, 240, 0.7)  ; 
	-webkit-box-shadow: 0 5px 20px rgba(137, 208, 240, 0.7)  ; 
	-moz-box-shadow: 0 5px 20px rgba(137, 208, 240, 0.7)  ;
}

#myHeader{
    background-color: #f3fafd;
    color: #89cff0;
    padding: 10px 0 4px;
    text-align: center;
}

/* Hero */
#hero {
    background-color: #f3fafd;
    padding: 20px 0;
    display: inline-block;
    width: 100%;
  }

/* Body */ 
body{
    background-color: #ffffff;
    font-family:'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.8;
    color: #293e48;
}
h1, h2, h3, h4, h5 {
    font-family: 'Poiret+One', sans-serif;
    line-height: 1.4;
    color: #89cff0;
}
h1{
    font-size: 2.75em;
    font-weight: 700;
}
h2{
    font-size: 2.25em;
    font-weight: 700;
    padding: 10px;
}
h3{
    font-size: 1.60em;
    font-weight: 400;
    padding: 5px;
}
h4{
    font-size: 1.35em;
    font-weight: 400;
    font-style: oblique;
}
h5{
    font-size: 1.25em;
    font-weight: 400;
}
#Headline{
    color: #89cff0;
    padding: 10px;
    text-align: center;
    border-bottom: 3px solid #89cff0;
    border-top: 3px solid #89cff0;
}
hr{border-bottom: 3px solid #89cff0;
}
img {
    width: 100%;
  }
#background{
    float: left;
}  

/* Footer */
#contact{
    text-align: center;
}

/* Links */
a.class1 {color:#f3fafd;}
a.class1:visited {text-decoration: none; color: #f3fafd;}
a.class1:hover, a.class2:focus {text-decoration: underline; color: #f3fafd;}
a.class1:active {text-decoration: none; color: #f3fafd;}


a.class2 {color:#89cff0;}
a.class2:visited {text-decoration: none; color: #89cff0;}
a.class2:hover, a.class2:focus {text-decoration: underline; color: #89cff0;}
a.class2:active {text-decoration: none; color: #89cff0;}


/* Buttons */ 
.button {
    display: inline-block;
    background-color: #6da5c0;
    color: #f3fafd;
    font-weight: 400;
    padding: 10px;
    border-radius: 5px;
    border-bottom: 4px solid #6da5c0; 
    transition: 0.2s opacity;
    margin-bottom: 10px;
    margin-top: 20px;
}
.button:hover {
    opacity: 0.8; 
    text-decoration: none;
}
.button.contact {
    background-color: transparent;
    color: #899cf0;
    text-transform: uppercase;
    border: 2px solid #899cf0;
}
.button.contact:hover {
    background-color: #899cf0;
    color: #ffffff;
}
/* Back to Top Button */
#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #5f90a8; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}

.myimage{
  float: left;
}

/* Layout styling */
.container {
    padding: 0 15px;
  }
.row{
    margin: 25px 0;
    padding: 10px;
}
.row::after {
    content: "";
    clear: both;
    display: table;
  }
.logo{
    max-width: 70px;
}
.social-icon {
    width: 25px;
  }
.main{
    padding: 15px;
}
nav > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav > ul > li > a {
    padding: 0 15px;
    text-transform: uppercase;
    font-weight: 700;
    color: #89cff0;
}
ul{
    display: block;
    list-style-type: disc;
    margin-left: 20px;
    padding: 10px;
}
.navtoggle li:not(:last-child) {
    display: none;
  }

.navtoggle, .navtoggle.responsive {
    position: relative;
  }

.navtoggle li .menuicon {
    position: absolute;
    right: 0;
    top: 15px;
    font-size: 20px;
    padding-right: 0;
  }
.navtoggle.responsive li  {
    display: block;
  }
.navtoggle.responsive nav {
    padding: 24px 0 0;
  }
.navtoggle.responsive li  {
    display: block;
    padding: 10px 0;
    border-top: 1px solid #89cff0;
  }
  
  .navtoggle.responsive li:last-child  {
    padding: 0 0 10px;
  }
ol{
    display: block;
    list-style: decimal;
    margin-left: 20px;
    padding: 10px;
}
[class*="col-"] {
    float: left;
    padding: 20px;
  }

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
    header {
        text-align: unset;
        padding: 20px 0 13px;
      }
    nav {
        width: auto;
        float: right;
        margin-top: 50px;
      }
    body {font-size: 18px;}
    #hero span {
        display: block;
      }
    .col-md-6 {
        width: 50%;
      }
      .logo{
        max-width: 100px;
    }
    nav > ul > li {
        display: inline-block;
    }
    nav > ul {
        margin: 1em 0;
      }
    .navtoggle li:not(:last-child) {
        display: inline-block;
      }
      .navtoggle li:last-child {
        display: none;
      }
}
/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
    header {
        text-align: unset;
        padding: 20px 0 13px;
      }
    nav {
        width: auto;
        float: right;
        margin-top: 50px;
        font-size: 24px;
        letter-spacing: 5px;
      }
    body {font-size: 20px;
    }
    #hero span {
        display: block;
    }
    .col-lg-7{
        width: 58.33%;
    }
    .col-lg-5{
        width: 41.66%;
    }
    .container {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
      }
}
/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {

}

