/*
Colors used: 
Primary Color (Baby-Blue): #89cff0; (137,207,240); 
Secondary Color (Light Blue): #7bbad8; (123,186,216);
Tertiary Color (Medium Blue): #6da5c0; (109,165,192);
Quartiary Color (Dark Blue): #5f90a8; (95,144,168);
On-Primary (Background): #f3fafd; (243,250,253);
Background: #ffffff; (255,255,255);
On-Primary (Outlines): #293e48; (41,62,72);
Analogue Color (Purple-Blue): #899cf0; (137,156,240);
Analogue Color2 (Turqoise): #89f0de; (137,240,222);
*/

* {
    box-sizing: border-box;
  }

/* Header */

header{
    background-color: #f3fafd;
    padding-top: 10px;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 10px;
    text-align: center; 
    position: relative;
    width: 100%;
	box-shadow: 0 5px 20px rgba(137, 208, 240, 0.7)  ; 
	-webkit-box-shadow: 0 5px 20px rgba(137, 208, 240, 0.7)  ; 
	-moz-box-shadow: 0 5px 20px rgba(137, 208, 240, 0.7)  ;
}

#myHeader{
    background-color: #f3fafd;
    color: #89cff0;
    padding: 10px;
    text-align: center;
}

/* Hero */
#hero {
    background-color: #f3fafd;
    padding: 20px 0;
    display: inline-block;
    width: 100%;
  }

/* Body */ 
body{
    background-color: #ffffff;
    font-family:'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.8;
    color: #293e48;
}
h1, h2, h3, h4, h5 {
    font-family: 'Poiret+One', sans-serif;
    line-height: 1.4;
    color: #89cff0;
}
h1{
    font-size: 2.75em;
    font-weight: 700;
}
h2{
    font-size: 2.25em;
    font-weight: 700;
    padding: 10px;
}
h3{
    font-size: 1.60em;
    font-weight: 400;
    padding: 5px;
}
h4{
    font-size: 1.35em;
    font-weight: 400;
    font-style: oblique;
}
h5{
    font-size: 1.25em;
    font-weight: 400;
}
#Headline{
    color: #89cff0;
    padding: 10px;
    text-align: center;
    border-bottom: 3px solid #89cff0;
    border-top: 3px solid #89cff0;
}
img {
    width: 100%;
  }
#background{
    float: left;
}  

/* Footer */
#contact{
    text-align: center;
}

/* Links */
a{
    color: #89cff0;
    text-decoration: none;
}
a:visited{
    color: #5f90a8;
}
a:hover, a:focus{
    color: #899cf0;
    text-decoration: underline;
}
a:active{
    color: #899cf0;
}

/* Buttons */ 
.button {
    display: inline-block;
    background-color: #6da5c0;
    color: #f3fafd;
    font-weight: 400;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #6da5c0; 
    transition: 0.2s opacity;
    margin-bottom: 10px;
}
.button:hover {
    opacity: 0.8; 
    text-decoration: none;
}
.button.contact {
    background-color: transparent;
    color: #899cf0;
    text-transform: uppercase;
    border: 2px solid #899cf0;
}
.button.contact:hover {
    background-color: #899cf0;
    color: #ffffff;
}

/* Layout styling */
.container {
    padding: 0 15px;
  }
.row{
    margin: 25px 0;
    padding: 10px;
}
.logo{
    max-width: 150px;
}
.main{
    padding: 15px;
}
nav > ul > li {
    display: inline-block;
}
nav > ul > li > a {
    padding: 0 15px;
    text-transform: uppercase;
    font-weight: 700;
    color: #89cff0;
}
ul{
    display: block;
    list-style-type: disc;
    margin-left: 20px;
    padding: 10px;
}
ol{
    display: block;
    list-style: decimal;
    margin-left: 20px;
    padding: 10px;
}
